@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AeonikPro-Medium";
  src: url("/src/assets/font/AeonikPro-Medium.woff2") format("woff2"),
    url("/src/assets/font/AeonikPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AeonikPro-Regular";
  src: url("/src/assets/font/AeonikPro-Regular.woff2") format("woff2"),
    url("/src/assets/font/AeonikPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  line-height: 1;
}

* {
  scroll-behavior: smooth;
}

.slick-slide > div {
  margin: 0 5px;
  border-radius: 8px;
}
.slick-list {
  margin: 0 -5px;
  border-radius: 8px;
}

/* Scroll styles */

*::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  border-radius: 25px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #a1a1a1;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  /* Background */
  background: rgba(225, 220, 220, 0.845);
  border-radius: 8px;
}

.placemark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  font-size: 35px !important;
  cursor: grab;
}

button {
  user-select: none;
}

button:active {
  opacity: 0.7;
  transform: scale(0.95);
}
